---
---

@import "{{ site.theme }}";

body {
  background-color: #202125;
}

.page-header {
  background-color: #202125;
  background-image: none;
}

.main-content {
  background-color: #202125;
}

.project-name {
  display: none;
}

.project-logo {
  max-width: 50%;
}
