---
---

@import "{{ site.theme }}";

body {
  background-color: #202125;
}

.page-header {
  background-color: #202125;
  background-image: none;
}

.main-content {
  background-color: #202125;
}

.project-name {
  display: none;
}

.project-logo {
  max-width: 50%;
}

.project-tagline {
  color: #A9A9A9;
  font-size:21px;
  max-width: 80%;
  margin: auto;
  padding: 16px 0;
}

.btn {
  font-weight: bold;
  letter-spacing: normal;
  line-height: 100%;
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
  background-color: #D4AF37;
  padding: 18px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 18px;
}
